HVMSWebsite_3.0.2/HeadStartVMS.SuperAdmin/HeadStartVMS.SuperAdmin/Web References/AutoFillCustomersService/AutoFillCustomers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BuyerCodeAvailability">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuyerCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuyerCodeAvailabilityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuyerCodeAvailabilityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuyerCodeAvailabilitySoapIn">
    <wsdl:part name="parameters" element="tns:BuyerCodeAvailability" />
  </wsdl:message>
  <wsdl:message name="BuyerCodeAvailabilitySoapOut">
    <wsdl:part name="parameters" element="tns:BuyerCodeAvailabilityResponse" />
  </wsdl:message>
  <wsdl:portType name="AutoFillNamesSoap">
    <wsdl:operation name="BuyerCodeAvailability">
      <wsdl:input message="tns:BuyerCodeAvailabilitySoapIn" />
      <wsdl:output message="tns:BuyerCodeAvailabilitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutoFillNamesSoap" type="tns:AutoFillNamesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuyerCodeAvailability">
      <soap:operation soapAction="http://tempuri.org/BuyerCodeAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutoFillNamesSoap12" type="tns:AutoFillNamesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuyerCodeAvailability">
      <soap12:operation soapAction="http://tempuri.org/BuyerCodeAvailability" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoFillNames">
    <wsdl:port name="AutoFillNamesSoap" binding="tns:AutoFillNamesSoap">
      <soap:address location="http://localhost:52097/WS/AutoFillCustomers.asmx" />
    </wsdl:port>
    <wsdl:port name="AutoFillNamesSoap12" binding="tns:AutoFillNamesSoap12">
      <soap12:address location="http://localhost:52097/WS/AutoFillCustomers.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>