HVMSWebsite_3.0.2/HeadStartVMS/Web References/AutoFillCustomersService/AutoFillCustomers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AutoFillCustomers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prefixText" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoFillCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutoFillCustomersResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserDetailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutoFillCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:AutoFillCustomers" />
  </wsdl:message>
  <wsdl:message name="AutoFillCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:AutoFillCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="UserDetailSoapIn">
    <wsdl:part name="parameters" element="tns:UserDetail" />
  </wsdl:message>
  <wsdl:message name="UserDetailSoapOut">
    <wsdl:part name="parameters" element="tns:UserDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="AutoFillNamesSoap">
    <wsdl:operation name="AutoFillCustomers">
      <wsdl:input message="tns:AutoFillCustomersSoapIn" />
      <wsdl:output message="tns:AutoFillCustomersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserDetail">
      <wsdl:input message="tns:UserDetailSoapIn" />
      <wsdl:output message="tns:UserDetailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutoFillNamesSoap" type="tns:AutoFillNamesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutoFillCustomers">
      <soap:operation soapAction="http://tempuri.org/AutoFillCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserDetail">
      <soap:operation soapAction="http://tempuri.org/UserDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutoFillNamesSoap12" type="tns:AutoFillNamesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutoFillCustomers">
      <soap12:operation soapAction="http://tempuri.org/AutoFillCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserDetail">
      <soap12:operation soapAction="http://tempuri.org/UserDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoFillNames">
    <wsdl:port name="AutoFillNamesSoap" binding="tns:AutoFillNamesSoap">
      <soap:address location="http://localhost:9616/HeadStartVMS/WS/AutoFillCustomers.asmx" />
    </wsdl:port>
    <wsdl:port name="AutoFillNamesSoap12" binding="tns:AutoFillNamesSoap12">
      <soap12:address location="http://localhost:9616/HeadStartVMS/WS/AutoFillCustomers.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>