HVMSWebsite_3.0.2/DAL/Service References/CDMService/HSService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.10.31/CDMService/HSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" />
  <xs:complexType name="ArrayOfResponseTableData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseTableData" nillable="true" type="tns:ResponseTableData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResponseTableData" nillable="true" type="tns:ArrayOfResponseTableData" />
  <xs:complexType name="ResponseTableData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="ChromeMake" nillable="true" type="q1:Chrome_Make" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="ChromeModel" nillable="true" type="q2:Chrome_Model" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="ChromeBody" nillable="true" type="q3:ArrayOfChrome_Body" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="ChromeBodyStyles" nillable="true" type="q4:ArrayOfChrome_BodyStyle" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="ChromeVINPattern" nillable="true" type="q5:Chrome_VINPattern" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="ChromeYMMBCV" nillable="true" type="q6:ArrayOfChrome_YMMBCV" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="ChromeYMMB" nillable="true" type="q7:ArrayOfChrome_YMMB" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="ChromeVINPatternStyleMapping" nillable="true" type="q8:ArrayOfChrome_VINPatternStyleMapping" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="ChromeColorExteriors" nillable="true" type="q9:ArrayOfChrome_ColorExterior" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="ChromeColorInteriors" nillable="true" type="q10:ArrayOfChrome_ColorInterior" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="ChromeColorCombos" nillable="true" type="q11:ArrayOfChrome_ColorCombo" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="ChromeVINEquipments" nillable="true" type="q12:ArrayOfChrome_VINEquipment" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="ChromeStyleGenericEquipments" nillable="true" type="q13:ArrayOfChrome_StyleGenericEquipment" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="ChromeConsInfos" nillable="true" type="q14:ArrayOfChrome_ConsInfo" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="ChromeYearMakeModelStyles" nillable="true" type="q15:ArrayOfChrome_YearMakeModelStyle" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="ChromeMediaGalleries" nillable="true" type="q16:ArrayOfWS_MediaGallery" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="Ws_GenericEquipment" nillable="true" type="q17:ArrayOfWS_GenericEquipment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseTableData" nillable="true" type="tns:ResponseTableData" />
</xs:schema>