HVMSWebsite_3.0.2/DAL/Service References/CDMService/HSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.10.31/CDMService/HSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" />
  <xs:element name="LogError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="LogErrorResult" nillable="true" type="q1:ServiceResponseOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecodeVIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecodeVINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="DecodeVINResult" nillable="true" type="q2:ServiceResponseOfResponseTableDataUs8T9G22" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecodeVINAndUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecodeVINAndUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Metaoption.ChromeDataService.DataAccessLayer" minOccurs="0" name="DecodeVINAndUpdateResult" nillable="true" type="q3:ServiceResponseOfResponseTableDataUs8T9G22" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>